cryptography>=41.0.5,<45
h11==0.14.0
packaging>=23.2,<25
fastapi
uvicorn
pydantic
pdfplumber
db-sqlite3
watchdog
numpy
pdf2image
pandas
python-multipart
ocrmypdf
SQLAlchemy
python-docx
pytesseract
pyzbar
openpyxl
sentence-transformers
paramiko
pymysql
pypdf
opencv-python
pillow
torch
contextlib2
python-dotenv